---
name: Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  preview:
    runs-on: ubuntu-latest
    name: Pulumi Preview
    permissions:
      id-token: write
      contents: write
    strategy:
      max-parallel: 12
      matrix:
        node-version: ["24"]

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - run: |
          corepack enable

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          exportToken: true
          outputToken: true
          secrets: |
            github-muehlbachler-public-services-infrastructure/data/google-cloud region | CLOUDSDK_COMPUTE_REGION ;
            github-muehlbachler-public-services-infrastructure/data/google-cloud workload_identity_provider | GOOGLE_WORKLOAD_IDENTITY_PROVIDER ;
            github-muehlbachler-public-services-infrastructure/data/google-cloud ci_service_account | GOOGLE_WORKLOAD_IDENTITY_SERVICE_ACCOUNT ;
            github-muehlbachler-public-services-infrastructure/data/github token | GH_PAT_TOKEN ;
            github-muehlbachler-public-services-infrastructure/data/tailscale oauth_client_id | TS_OAUTH_CLIENT_ID ;
            github-muehlbachler-public-services-infrastructure/data/tailscale oauth_secret | TS_OAUTH_SECRET ;
            github-muehlbachler-public-services-infrastructure/data/proxmox username | PROXMOX_VE_USERNAME ;
            github-muehlbachler-public-services-infrastructure/data/proxmox password | PROXMOX_VE_PASSWORD ;
            github-muehlbachler-public-services-infrastructure/data/proxmox endpoint | PROXMOX_VE_ENDPOINT ;
            github-muehlbachler-public-services-infrastructure/data/proxmox insecure | PROXMOX_VE_INSECURE

      - uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
        with:
          organization: muhlba91
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:muhlba91

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ env.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.GOOGLE_WORKLOAD_IDENTITY_SERVICE_ACCOUNT }}

      - run: |
          yarn install --immutable
          yarn build

      - uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4
        with:
          oauth-client-id: ${{ env.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ env.TS_OAUTH_SECRET }}
          tags: tag:github-actions

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: preview
          stack-name: prod
          refresh: true
        env:
          GITHUB_TOKEN: "${{ env.GH_PAT_TOKEN }}"
          VAULT_ADDR: "${{ secrets.VAULT_ADDR }}"

  deploy:
    runs-on: ubuntu-latest
    name: Pulumi Deploy
    permissions:
      id-token: write
      contents: write
    needs:
      - preview
    strategy:
      max-parallel: 12
      matrix:
        node-version: ["24"]

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - run: |
          corepack enable

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: k0sproject/k0sctl
          extension-matching: disable
          rename-to: k0sctl
          chmod: 0755

      - uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          exportToken: true
          outputToken: true
          secrets: |
            github-muehlbachler-public-services-infrastructure/data/google-cloud region | CLOUDSDK_COMPUTE_REGION ;
            github-muehlbachler-public-services-infrastructure/data/google-cloud workload_identity_provider | GOOGLE_WORKLOAD_IDENTITY_PROVIDER ;
            github-muehlbachler-public-services-infrastructure/data/google-cloud ci_service_account | GOOGLE_WORKLOAD_IDENTITY_SERVICE_ACCOUNT ;
            github-muehlbachler-public-services-infrastructure/data/github token | GH_PAT_TOKEN ;
            github-muehlbachler-public-services-infrastructure/data/tailscale oauth_client_id | TS_OAUTH_CLIENT_ID ;
            github-muehlbachler-public-services-infrastructure/data/tailscale oauth_secret | TS_OAUTH_SECRET ;
            github-muehlbachler-public-services-infrastructure/data/proxmox username | PROXMOX_VE_USERNAME ;
            github-muehlbachler-public-services-infrastructure/data/proxmox password | PROXMOX_VE_PASSWORD ;
            github-muehlbachler-public-services-infrastructure/data/proxmox endpoint | PROXMOX_VE_ENDPOINT ;
            github-muehlbachler-public-services-infrastructure/data/proxmox insecure | PROXMOX_VE_INSECURE

      - uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
        with:
          organization: muhlba91
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:muhlba91

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ env.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.GOOGLE_WORKLOAD_IDENTITY_SERVICE_ACCOUNT }}

      - uses: fluxcd/flux2/action@63dfdd133c23f8f9833630d848ab371081be1bc0 # main

      - run: |
          yarn install --immutable
          yarn build

      - uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4
        with:
          oauth-client-id: ${{ env.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ env.TS_OAUTH_SECRET }}
          tags: tag:github-actions

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          stack-name: prod
        env:
          GITHUB_TOKEN: "${{ env.GH_PAT_TOKEN }}"
          VAULT_ADDR: "${{ secrets.VAULT_ADDR }}"

      - run: |
          flux bootstrap github \
            --components source-controller,kustomize-controller,helm-controller,notification-controller \
            --cluster-domain cluster.local \
            --owner ${{ github.repository_owner }} \
            --repository ${{ github.event.repository.name }} \
            --branch main \
            --path ./cluster-bootstrap/ \
            --personal \
            --interval 5m \
            --author-name "github-actions[bot]" \
            --author-email "${{ github.action }}+github-actions[bot]@users.noreply.github.com"
        env:
          GITHUB_TOKEN: "${{ env.GH_PAT_TOKEN }}"
          KUBECONFIG: "outputs/admin.conf"
